<form id="1" class="uk-form" action="/api" method="post">
	<div style="width: 460px;" class="uk-grid uk-container-center uk-grid-collapse uk-form-row">
		<input class="uk-form-default uk-width-small-8-10" type="text" name="text_search" placeholder="Search" />
		<input class="uk-button uk-width-small-2-10" type="submit" value="Search" />
	</div>
</form>
<br>
a
<form style="display: none;" id="2" class="uk-form" action="/apimv" method="post">
	<div style="width: 460px;" class="uk-grid uk-container-center uk-grid-collapse uk-form-row">
		<input class="uk-form-default uk-width-small-8-10" type="text" name="text_search" placeholder="Search" />
		<input class="uk-button uk-width-small-2-10" type="submit" value="Search" />
	</div>
</form>
<div id="wrapper">
</div>
