<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/stylesheets/uikit.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/simplePagination.css"/>
<!-- <script src="/javascripts/jquery.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/javascripts/uikit.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/audio.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.simplePagination.js"></script>

</head>
<body>
<center><h1><strong>music.nhutuit.com</strong></h1></center>
{{{ yield }}}
 </body>
</html>